.mat-toolbar {
    background-color: #333; /* Fondo oscuro para la barra de navegación */
    color: #fff; /* Color del texto en la barra de navegación */
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    height: 13vh;
  }
  .logo img{
    width: auto; /* Ancho completo */
    height: 100%;
    /*margin-right: -500px;
    margin-top: 30px;*/
  }
  
  .brand {
    height: 13vh;
    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .brand-name {
    font-size: 2.5rem; /* Tamaño de fuente para el nombre del restaurante */
    font-family: "Wellfleet", monospace;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .nav-links button {
    color: #fff; /* Color del texto de los botones */
    margin: 0 10px; /* Espacio entre los botones */
    font-size: 17px;
  }
  
  .nav-links button:hover,
  .nav-links button.active-link {
    background-color: #E53935; /* Color de fondo rojo al pasar el mouse o activo */
    border-radius: 5px; /* Bordes redondeados */
  }

  .auth-buttons {
    display: flex;
    margin-left: auto; /* Mueve los botones de autenticación a la derecha */
  }
  
  .auth-buttons button {
    color: #E53935; /* Color del texto de los botones de autenticación */
    margin: 0 10px; /* Espacio entre los botones */
    font-size: 17px;
  }
  
  .auth-buttons button:hover {
    background-color: #fff; /* Color de fondo blanco al pasar el mouse */
    color: #333; /* Color del texto al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
  }
  