.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.container h2{
    font-size: 1.5rem;
    font-family: "Wellfleet", monospace;
    color: #ECB100;
}
.container form th{
    text-align: center;
}
.container form td {
    text-align: center;
    vertical-align: middle;
}
.container form{
    width: 50%;
}

.container form button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cantidad{
    width: 30%;
}

.nombre{
    width: 30%;
}

