.mat-grid-list{
    width: 90%;
}
.mat-grid-tile{
    border: 1px solid;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.mat-grid-tile h3{
    font-weight: 600;
    font-family: "Wellfleet", monospace;

}

.full-height {
  min-height: 85vh;

  }

.full-height h2{
    height: 5vh; 
    width: 100vw;
    text-align: center;
    font-size: 2.5em;
    color: #ECB100;
    font-family: "Wellfleet", monospace;

}
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .precio{
    font-style: italic;
  }
  .img{
     width: 10vw;
     height: 18vh;
     margin-bottom: 7px;
  }