/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Wellfleet&display=swap');

html, body {
  height: 100%;
  margin: 0;
  width: 100%; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #333; color: #fff;  }

.example-spacer {
    flex: 1 1 auto;
  }

  .active-link {
    font-weight: bold;
    color: #fff; /* Puedes ajustar el color según tus necesidades */
    background-color: #1976d2; /* Ajusta el color de fondo según tus necesidades */
  }

  .center-horizontal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  
  
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
