/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
    flex: 1 1 auto;
  }

  .active-link {
    font-weight: bold;
    color: #fff; /* Puedes ajustar el color según tus necesidades */
    background-color: #1976d2; /* Ajusta el color de fondo según tus necesidades */
  }
  
  
  