<div class="register-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="register-title">Registro de Usuario</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="name" type="text" required>
            <mat-error *ngIf="registerForm.get('name')?.hasError('required')">El nombre es obligatorio</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required>
            <mat-error *ngIf="registerForm.get('email')?.hasError('required')">El email es obligatorio</mat-error>
            <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Por favor, introduce un email válido</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Número Telefónico</mat-label>
            <input matInput formControlName="phone" type="tel" required>
            <mat-error *ngIf="registerForm.get('phone')?.hasError('required')">El número telefónico es obligatorio</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address" type="text" required>
            <mat-error *ngIf="registerForm.get('address')?.hasError('required')">La dirección es obligatoria</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Referencia de Vivienda</mat-label>
            <input matInput formControlName="reference" type="text">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput formControlName="confirmPassword" type="password" required>
            <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('required')">La confirmación de la contraseña es obligatoria</mat-error>
            <mat-error *ngIf="registerForm.hasError('passwordMismatch')">Las contraseñas no coinciden</mat-error>
          </mat-form-field>
  
          <div class="register-actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Registrarse</button>
          </div>
        </form>
      </mat-card-content>
      <mat-card-footer>
        <div class="footer-links">
          <div class="login-link">
            <span>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia sesión aquí</a></span>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  