.footer {
    background-color: #212121;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icon {
    color: #ECB100;
    font-size: 1.5rem;
    margin: 0 10px;
  }
  
  .social-icon:hover {
    opacity: 0.8;
  }
  