
<footer class="footer">
    <div class="social-icons">
      <a href="https://facebook.com/CasaApiRes" target="_blank" class="social-icon">
        <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
      </a>
      <a href="https://instagram.com/CasaApiRes" target="_blank" class="social-icon">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </a>
      <a href="https://twitter.com/CasaApiRes" target="_blank" class="social-icon">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </a>
    </div>
    <p>&copy; 2024 Casa ApiRes. Todos los derechos reservados.</p>
  </footer>
  