
<footer class="footer">
    <div class="social-icons">
      <a href="https://facebook.com/CasaApiRes" target="_blank" class="social-icon">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://instagram.com/CasaApiRes" target="_blank" class="social-icon">
        <mat-icon>instagram</mat-icon>
      </a>
      <a href="https://twitter.com/CasaApiRes" target="_blank" class="social-icon">
        <mat-icon>twitter</mat-icon>
      </a>
    </div>
    <p>&copy; 2024 Casa ApiRes. Todos los derechos reservados.</p>
  </footer>
  